name: CI

on:
  push:
    branches:
      - main
    tags:
      - "!*"
  pull_request:

jobs:
  test:
    name: Node ${{ matrix.node }} and ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [18]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Print Node Version
        run: node --version
      - name: Install Dependencies
        run: yarn install
      - name: Install Test Dependencies
        run: yarn install
        working-directory: test/project-chunking
      - name: Run Tests
        run: yarn test
      # - name: Run yarn pnp tests
      #   if: matrix.os == 'ubuntu-latest'
      #   run: yarn test-pnp
      - name: Coverage
        if: matrix.os == 'ubuntu-latest'
        run: yarn test-coverage
      - name: Release
        if: matrix.os == 'ubuntu-latest' && matrix.node == 18 && github.event_name == 'push' && github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN_ELEVATED }}
        run: yarn semantic-release
